# config
models/config.json

# python stuff
__pycache__
*.pyc

# training files
models/models.*.index
models/models.*.meta
models/models.ckpt-*
models/checkpoint
models/train/
models/test/
corpus/embedding*.tsv
corpus/vocab*
corpus/*.txt.ids*

# editor files
.idea
.vscode
